body {
	font-size: 16px;
	background-color: #E0F2F1;
}
header {
	background-color: #26A69A;
	padding: 50px 0;
	margin-bottom: 50px;
	width: 100%;
	text-transform: uppercase;
}
h1 {
	color: #fff
}
header span {
	color: #ccc
}
header img {
	margin: 0 auto;
	border: 7px solid #4DB6AC;
}
header .row {
	text-align: center
}
section .row {
	position: relative;
	list-style: none;
	text-align: center;
}
figure {
	overflow: hidden;
	margin-bottom: 25px;
	text-align: center;
}
figure a {
	cursor: pointer;
}
figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}
figure figcaption {
	font-size: 1.25em;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 20px;
	background: #E0F2F1;
	color: #004D40;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
figure figcaption::before, figure figcaption::after {
	pointer-events: none;
}
figure figcaption, figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
	color: #00796B;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
	display: block;
}
figure h3 a {
	color: #00796B
}
figure h3 a:hover {
	color: #004D40
}
figure h3, figure p {
	margin: 0;
}
figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure:hover figcaption, figure:hover h3 {
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}
figure:hover h3 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
footer {
	background-color: #26A69A;
	padding: 50px 0;
	margin-top: 50px;
	width: 100%;
	color: #ccc;
}
footer .lead {
	text-transform: uppercase;
	margin-bottom: 30px !important;
	color: #fff;
}
footer a, footer a:hover {
	color: #ccc;
	cursor: pointer;
}
.face {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(../img/facebook-48.png);
}
.linki {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(../img/linkedin-48.png)
}
.email {
	display: block;
	height: 24px;
	background-image: url(../img/email-24-g.png);
	background-repeat: no-repeat;
	padding: 1px 0 0 26px
}
.face:hover {
	background-image: url(../img/facebook-48-g.png);
}
.linki:hover {
	background-image: url(../img/linkedin-48-g.png)
}
.skype {
	display: block;
	height: 24px;
	background-image: url(../img/skype-24-g.png);
	background-repeat: no-repeat;
	padding: 1px 0 0 26px
}

@media (min-width: 768px) {
	
	header img {
		float: left;
		margin: 0
	}
	header h1 {
		margin-top: 50px
	}
	header .row {
		text-align: right
	}
	section {
		margin: 100px 0
	}
}